<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Review Bandit</title>
</head>
<body style="background-color:rgb(193, 193, 193);">
    <td>
        <H1 style="text-align:center">Don't be fooled by fake reviews</H1>
        <p style="text-align:center">61% of the reviews published on Amazon are likely to be fake<br>
        There is where our bandit jump in, using machine learning is able to figure <br>
        out if the products have high or low-quality reviews, of course, you will think<br> 
        that is kind of impossible to be 100% sure if it´s a legit review or not, you<br>
        must not have blind faith in us, after all we are bandits, not heroes.<br> </p>
        <a href="http://127.0.0.1:5000/single"><p style="text-align:center">Analyse single review</p></a>
        <p style="text-align:center">
        <a href="http://127.0.0.1:5000/multiple"><p style="text-align:center">Analyse multiple reviews</p></a>
        <p style="text-align:center">
        <a href="https://github.com/KevsDe/review_bandit"><p style="text-align:center">You can learn about the project here</p></a>
        <p style="text-align:center">    
        <img src="static//thief.png" alt="review bandit" style='padding:1px; width: 40%; height: 40%'>
        </p></td>
        <p style="text-align:center">Madrid 2020/10/17 - Ironhack final project, Review Bandit.</p>
</body>
</html>