<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Review Bandit</title>
</head>
<body style="background-color:rgb(193, 193, 193);">
<form method="POST">
    <p style="text-align:center">Single review analyzer: <br>
    This method accepts a single review,
    to try with multiple ones try the <br>
    multiple method. 
    </p><br>
	<div style="text-align:center;">
        <input name="review">
        <input type="submit">
    </div>
    <a href="http://127.0.0.1:5000/"><p style="text-align:center">Home</p></a>
    <p style="text-align:center">
    <a href="http://127.0.0.1:5000/multiple"><p style="text-align:center">Analyse multiple reviews</p></a>
    <p style="text-align:center">
        <img src="static//Artwork_Thief_0.png" alt="review bandit" style='padding:1px; width: 25%; height: 25%'>
</form>
</body>
</html>

